.rooms_page {
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: radial-gradient(#e6e0d4 1px, transparent 1px);
  background-size: 40px 40px;

  padding-top: 130px;
  padding-bottom: 100px;
}
